<h1>Profile Edit</h1>
<%= render 'layouts/errors', obj: @user %>

<%= form_with model: @user do |f| %>
  <p>Name:</p>
  <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "Name" %>
  <p>Profile Image:</p>
  <%= f.file_field :profile_image, placeholder: "Profile Image", accept: "image/*" %>
  <%= f.submit "Update" %>
<% end %>
