<h1>Users Detail</h1>
<div>
  <h3>Name:<%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<div>
  <% @post_images.each do |post_image| %>
    <div>
      <%= link_to post_image_path(post_image.id) do %>
        <%= image_tag post_image.get_image, size: '300x300' %>
      <% end %>
      <p>Shop:<%= post_image.shop_name %></p>
      <p>Caption:<%= post_image.caption %></p>
      <p>User:<%= post_image.user.name %></p>
    </div>
  <% end %>
</div>
