<div class="card-list-container py-5">
  <% post_images.each do |post_image| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <%= image_tag post_image.get_image, class: "card-img-top" %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= link_to user_path(post_image.user.id) do %>
              User:<%= image_tag post_image.user.get_profile_image(100,100) %>
            <% end %>
          </div>
          <div class="col-10">
            <p class="card-title">
              <%= link_to(post_image_path(post_image.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= post_image.shop_name %></span></strong>
              <% end %>
            </p>
            <p class="card-text">Caption:<%= post_image.caption %></p>
            <span><i class="fas fa-user"></i> By <%= post_image.user.name %> ｜ </span>
            <%= link_to 'Show', post_image_path(post_image.id) %>
            <% if post_image.favorited_by?(current_user) %>
              <p>
                <%= link_to post_image_favorites_path(post_image), method: :delete, class: "text-danger" do %>
                  ♥ <%= post_image.favorites.count %>いいね
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to post_image_favorites_path(post_image), method: :post do %>
                  ♡ <%= post_image.favorites.count %>いいね
                <% end %>
              </p>
            <% end %>
            <p><%= link_to "#{post_image.post_comments.count} Comment", post_image_path(post_image.id) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate post_images %>
</div>