<h1>List</h1>
<% @post_images.each do |post_image| %>
  <div>
    <%= image_tag post_image.get_image, size: '300x300' %>
    <p>User:<%= image_tag 'sample-author1.jpg' %></p>
    <p>Shop:<%= post_image.shop_name %></p>
    <p>Caption:<%= post_image.caption %></p>
    <p>User name:<%= post_image.user.name %></p>
    <%= link_to 'Show', post_image_path(post_image.id) %>
  </div>
<% end %>
