<h1>Detail</h1>
<div>
  <%= image_tag @post_image.get_image %>
  <p>Shop:<%= @post_image.shop_name %></p>
  <p>Caption:<%= @post_image.caption %></p>
  <p>User:<%= image_tag 'sample-author1.jpg' %></p>
  <p>Date:<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
</div>
