<header>
  <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to new_post_image_path do %>
          <i class="fa-regular fa-circle-plus"></i>
          New Post
        <% end %>
      </li>
      <li>
        <%= link_to post_images_path do %>
          <i class="fa-light fa-utensils"></i>
          Posts
        <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
          <i class="fa-light fa-users"></i>
          Users
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user.id) do %>
          <i class="fa-light fa-user"></i>
          My page
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          Log out
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to root_path do %>
          <i class="fa-regular fa-house-chimney"></i>
          Home
        <% end %>
      </li>
      <li>
        <%= link_to about_path do %>
          <i class="fa-regular fa-link"></i>
          About
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path do %>
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
          Log in
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path do %>
          <i class="fa-regular fa-user-plus"></i>
          Sign up
        <% end %>
      </li>
    <% end %>
  </ul>
</header>