<!DOCTYPE html>
<html>
  <head>
    <title>Meshiterro2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
              Log out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
              Log in
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="fa-regular fa-user-plus"></i>
              Sign up
            <% end %>
          </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
